
* {
	font-family: 'Roboto', sans-serif;
}

html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

#navlogo {
	height: auto;
	width: 100px;
}

.bg-fullblack {
	background-color: #000;
}

#about {
	text-align: center;
}

#glow {
	-moz-box-shadow: 0 0 20px #29edc0;
	-webkit-box-shadow: 0 0 20px #29edc0;
	box-shadow: 0px 0px 30px #29edc0;
}

.mt-15 {
	margin-top: 150px;
}

.mt-19 {
	margin-top: 190px;
}

.pt-15 {
	padding-top: 150px;
}

.mt-13 {
	margin-top: 130px;
}

.pt-13 {
	padding-top: 130px;
}


.mb-13 {
	margin-bottom: 130px;
}

main {
  padding: 100px 0 0;
  background-color: #000;
}

.icon {
  max-width: 250px;
  margin: 0 auto 50px;
}

.icon img {
  display: block;
}

.constellation {
  fill:none;
  stroke:#FFE08C;
  stroke-width:6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  -webkit-animation: iconoutline 6s ease infinite;
  -moz-animation: iconoutline 6s ease infinite;
  -o-animation: iconoutline 6s ease infinite;
  animation: iconoutline 6s ease infinite;
}

.starstroke{
  fill:#2d84d3;
}

.star{
  fill:#fff;
}


@-webkit-keyframes iconoutline {
  20% {
    stroke-dashoffset: 2000;
  }
  70% {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes iconoutline {
  20% {
    stroke-dashoffset: 2000;
  }
  70% {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes iconoutline {
  20% {
    stroke-dashoffset: 2000;
  }

  70% {
    stroke-dashoffset: 0;
  }
}

@keyframes iconoutline {
  20% {
    stroke-dashoffset: 2000;
  }
  70% {
    stroke-dashoffset: 0;
  }
}

nav ul li {
  --c: goldenrod;
  color: var(--c); 
  border-radius: 0.5em;
  width: 120px;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;   
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: black;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}

/**/

.photo #photo{
  object-fit: cover;
  filter: grayscale(30%) contrast(110%);
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover {
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow {
  display: inline-block;
  position:absolute;
  width: 40%;
  height: 800%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover #photo,
.photo:hover .glow-wrap{
  margin-top: 0;
}

/**/

.cursor{
  z-index: 999;
  position: fixed;
  background: #2696E8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696E8,
  0 0 60px #2696E8,
  0 0 100px #2696E8;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes colors{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.cursor:before{
  content: '';
  position: absolute;
  background: #2696E8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

/*footer*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.footer-distributed{
  background: #444;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Roboto', cursive;
  margin: 0 0 10px;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
  margin-top: 40px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

/* The contact form */

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color:  #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #5c666b;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}

/* skills*/

#skill {
  position:absolute;
  top:120%;
  left:75%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

#skill li {
  list-style:none;
  margin:0 5px;
}

#skill li a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

#skill li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

#skill li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:100px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 0px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
#skill li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
#skill li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

#skill li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

#skill li:hover .fa {
  color:#fff;
}

#skill li:hover span {
  color:#fff;
}

#skill li:hover:nth-child(1) a{
  background: #3b5998;
}
#skill li:hover:nth-child(1) a:before{
  background: #365492;
}
#skill li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

#skill li:hover:nth-child(2) a{
  background: #00aced;
}
#skill li:hover:nth-child(2) a:before{
  background: #097aa5;
}
#skill li:hover:nth-child(2) a:after{
  background: #53b9e0;
}

#skill li:hover:nth-child(3) a{
  background: #dd4b39;
}
#skill li:hover:nth-child(3) a:before{
  background: #b33a2b;
}
#skill li:hover:nth-child(3) a:after{
  background: #e66a5a;
}

#skill li:hover:nth-child(4) a{
  background: #e4405f;
}
#skill li:hover:nth-child(4) a:before{
  background: #d81c3f;
}
#skill li:hover:nth-child(4) a:after{
  background: #e46880;
}

